{% extends 'main/base.html' %}
{% load staticfiles %}
{% block main_content %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="branding">Rosterra</span> is rostering, disrupted.</h1>
        <p>You pay your employees under the table.
        Why shouldn't your roster be handled by a sketchy SaaS?</p>
    </div>
</div>

{% comment %}
<div class="container">
    <div class="col-md-6">
        <h2>Already loving it?
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a></p>
        </h2>
        <p>We've missed you!
    </div>
    <div>
        <h2>New to Rosterra?
            <button type="button" class="btn btn-success">Sign up</button></p>
        </h2>
        <p>Free forever for small teams and service plans that
        scale with you.
    </div>
</div>

<div class="container">
    <div class="row">
        <div class=col-md-12">
            <h2>Rosterra is full of features.</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Crush</h2>
            <p>your enemies!</p>
        </div>
        <div class="col-md-4" style="">
            <h2>See</h2>
            <p>them driven before you!</p>
        </div>
        <div class="col-md-4">
            <h2>Hear</h2>
            <p>the lamentaion of their women!</p>
        </div>
    </div>
</div>
{% endcomment %}
{% endblock %}
